{% load static %}

<div class="lunch">
    <div style="background-image:url('{{ dinner.image.url }}')" class="lunch__image"></div>
    <div class="lunch__desc">
        <div class="lunch__top">
            <div data-desc="{{ dinner.weight }} гр / {{ dinner.calorie }} ккал" class="lunch__title">
                {{ dinner.name }}
            </div>
            {% if basket_item %}
                <div class="lunch__cost">
                    <div class="lunch__cost-count">{{ basket_item.quantity }}</div>
                    <div class="lunch__cost-all">{{ basket_item.sum|floatformat }}</div>
                </div>
            {% else %}
                <div class="lunch__cost">{{ dinner.price }}</div>
            {% endif %}
        </div>
        <div class="lunch__box">
            <div class="lunch__item lunch__item-hot">{{ dinner.soup }}</div>
            <div class="lunch__item lunch__item-second">{{ dinner.second }}</div>
            <div class="lunch__item lunch__item-salad">{{ dinner.salad }}</div>
            <div class="lunch__item lunch__item-dessert">{{ dinner.dessert }}</div>
        </div>
        <div class="lunch__control">
            <div class="lunch__control-text">Выбрать количество порций</div>
            <form class="lunch__control-cont" action="{% url 'change_amount' dinner.id %}" method="post">
                {% csrf_token %}
                <div class="lunch__control-minus">
                    <button type="submit" value="-1" name="amount" class="round-button minus"></button>
                </div>
                <div class="lunch__control-count">
                    {% if basket_dict %}
                        {{ basket_dict|get_item:dinner.id }}
                    {% else %}
                        0
                    {% endif %}
                </div>
                <div class="lunch__control-plus">
                    <button type="submit" value="1" name="amount" class="round-button plus"></button>
                </div>
            </form>
        </div>
    </div>
</div>