{% load static %}

<div class="lunch">
    <div style="background-image:url('{% static "img/design/item_03.jpg" %}')" class="lunch__image"></div>
    <div class="lunch__desc">
        <div class="lunch__top">
            <div data-desc="{{ dinner.weight }} гр / {{ dinner.calorie }} ккал" class="lunch__title">
                {{ dinner.name }}
            </div>
            {% if basket_item %}
                <div class="lunch__cost">
                    <div class="lunch__cost-count">{{ basket_item.quantity }}</div>
                    <div class="lunch__cost-all">{{ basket_item.sum|floatformat }}</div>
                </div>
            {% else %}
                <div class="lunch__cost">{{ dinner.price }}</div>
            {% endif %}
        </div>
        <div class="lunch__box">
            <div class="lunch__item lunch__item-hot">{{ dinner.soup }}</div>
            <div class="lunch__item lunch__item-second">{{ dinner.second }}</div>
            <div class="lunch__item lunch__item-salad">{{ dinner.salad }}</div>
            <div class="lunch__item lunch__item-dessert">{{ dinner.dessert }}</div>
        </div>
        <div class="lunch__control">
            <div class="lunch__control-text">Выбрать количество порций</div>
            <div class="lunch__control-cont">
                <div class="lunch__control-minus">
                    <form action="{% url 'remove_item' dinner.id %}" method="post">
                        {% csrf_token %}
                        <button type="submit" class="round-button minus"></button>
                    </form>
                </div>
                <div class="lunch__control-count">
                    {% if basket %}
                        {{ basket|get_item:dinner.id }}
                    {% else %}
                        0
                    {% endif %}
                </div>
                <div class="lunch__control-plus">
                    <form action="{% url 'add_item' dinner.id %}" method="post">
                        {% csrf_token %}
                        <button type="submit" class="round-button plus"></button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>