<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html lang="ru" class="no-js">
  <head>
    <meta charset="utf-8"/>
    <title></title>
    <!--meta(name="viewport" content="width=1240")-->
    <meta name="viewport" content="width=device-width, initial-scale=1,user-scalable=0"/>
    <meta content="IE=edge" http-equiv="X-UA-Compatible"/>
    <link rel="shortcut icon" type="image/ico" href="static/img/favicon.ico"/>
    <link rel="icon" type="image/png" href="static/img/favicon.png"/>
    <link rel="stylesheet" href="static/css/style.css"/>
  </head>
  <body>
    <div class="layout">
      <div class="layout__page">
        <div class="header">
          <div class="layout__inner">
            <div class="header__cont">
              <div class="header__logo"><a href="/" class="logo"></a>
              </div>
              <div class="header__date">
                <div data-month="февраля" data-day="воскресенье" class="header__date-item">16</div>
              </div><a href="/menu.html" class="header__title">МЕНЮ НА НЕДЕЛЮ</a>
              <div class="header__cart"><a class="cart"><span class="cart__text">В КОРЗИНЕ:</span><span class="cart__count">100</span><span class="cart__cost">1000</span></a>
              </div>
              <div class="header__login"><a href="/persona.html" class="button button__akk">Личный кабинет</a></div>
            </div>
          </div>
        </div>
        <div class="weekly">
          <div class="weekly__inner">
            <div class="weekly__title">МЕНЮ НА НЕДЕЛЮ</div>
            <div class="weekly__date">22.05.2017 - 28.05.2017</div>
            <div class="weekly__cont">
              <div data-day="ПОНЕДЕЛЬНИК" class="weekly__line">
                <div class="weekly__box">
                  <div class="weekly__item">
                    <div class="lunch">
                      <div style="background-image:url('static/img/design/item_03.jpg')" class="lunch__image"></div>
                      <div class="lunch__desc">
                        <div class="lunch__top">
                          <div data-desc="850 гр / 1300 ккал" class="lunch__title">Обед №1</div>
                          <div class="lunch__cost">340</div>
                        </div>
                        <div class="lunch__box">
                          <div class="lunch__item lunch__item-hot">Борщ домашний</div>
                          <div class="lunch__item lunch__item-second">Курица запеченая <br>с гарниром из картофеля</div>
                          <div class="lunch__item lunch__item-salad">Салат «Мужские грезы»</div>
                          <div class="lunch__item lunch__item-dessert">Десерт «Торт Три Шоколада»</div>
                        </div>
                        <div class="lunch__control">
                          <div class="lunch__control-text">Выбрать количество порций</div>
                          <div class="lunch__control-cont">
                            <div class="lunch__control-minus">
                              <button class="round-button minus"></button>
                            </div>
                            <div class="lunch__control-count">0</div>
                            <div class="lunch__control-plus">
                              <button class="round-button plus"></button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="weekly__item">
                    <div class="lunch">
                      <div style="background-image:url('static/img/design/item_02.jpg')" class="lunch__image"></div>
                      <div class="lunch__desc">
                        <div class="lunch__top">
                          <div data-desc="1000 гр / 1300 ккал" class="lunch__title">Обед №2</div>
                          <div class="lunch__cost">370</div>
                        </div>
                        <div class="lunch__box">
                          <div class="lunch__item lunch__item-hot">Борщ домашний</div>
                          <div class="lunch__item lunch__item-second">Курица запеченая <br>с гарниром из картофеля</div>
                          <div class="lunch__item lunch__item-salad">Салат «Мужские грезы»</div>
                          <div class="lunch__item lunch__item-dessert">Десерт «Торт Три Шоколада»</div>
                        </div>
                        <div class="lunch__control">
                          <div class="lunch__control-text">Выбрать количество порций</div>
                          <div class="lunch__control-cont">
                            <div class="lunch__control-minus">
                              <button class="round-button minus"></button>
                            </div>
                            <div class="lunch__control-count">0</div>
                            <div class="lunch__control-plus">
                              <button class="round-button plus"></button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="weekly__item">
                    <div class="lunch">
                      <div style="background-image:url('static/img/design/item_01.jpg')" class="lunch__image"></div>
                      <div class="lunch__desc">
                        <div class="lunch__top">
                          <div data-desc="1000 гр / 1300 ккал" class="lunch__title">Обед №3</div>
                          <div class="lunch__cost">1340</div>
                        </div>
                        <div class="lunch__box">
                          <div class="lunch__item lunch__item-hot">Борщ домашний</div>
                          <div class="lunch__item lunch__item-second">Курица запеченая <br>с гарниром из картофеля</div>
                          <div class="lunch__item lunch__item-salad">Салат «Мужские грезы»</div>
                          <div class="lunch__item lunch__item-dessert">Десерт «Торт Три Шоколада»</div>
                        </div>
                        <div class="lunch__control">
                          <div class="lunch__control-text">Выбрать количество порций</div>
                          <div class="lunch__control-cont">
                            <div class="lunch__control-minus">
                              <button class="round-button minus"></button>
                            </div>
                            <div class="lunch__control-count">0</div>
                            <div class="lunch__control-plus">
                              <button class="round-button plus"></button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div data-day="ВТОРНИК" class="weekly__line">
                <div class="weekly__box">
                  <div class="weekly__item">
                    <div class="lunch">
                      <div style="background-image:url('static/img/design/item_04.jpg')" class="lunch__image"></div>
                      <div class="lunch__desc">
                        <div class="lunch__top">
                          <div data-desc="1000 гр / 1300 ккал" class="lunch__title">Обед №4</div>
                          <div class="lunch__cost">451</div>
                        </div>
                        <div class="lunch__box">
                          <div class="lunch__item lunch__item-hot">Борщ домашний</div>
                          <div class="lunch__item lunch__item-second">Курица запеченая <br>с гарниром из картофеля</div>
                          <div class="lunch__item lunch__item-salad">Салат «Мужские грезы»</div>
                          <div class="lunch__item lunch__item-dessert">Десерт «Торт Три Шоколада»</div>
                        </div>
                        <div class="lunch__control">
                          <div class="lunch__control-text">Выбрать количество порций</div>
                          <div class="lunch__control-cont">
                            <div class="lunch__control-minus">
                              <button class="round-button minus"></button>
                            </div>
                            <div class="lunch__control-count">0</div>
                            <div class="lunch__control-plus">
                              <button class="round-button plus"></button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="weekly__item">
                    <div class="lunch">
                      <div style="background-image:url('static/img/design/item_03.jpg')" class="lunch__image"></div>
                      <div class="lunch__desc">
                        <div class="lunch__top">
                          <div data-desc="850 гр / 1300 ккал" class="lunch__title">Обед №1</div>
                          <div class="lunch__cost">340</div>
                        </div>
                        <div class="lunch__box">
                          <div class="lunch__item lunch__item-hot">Борщ домашний</div>
                          <div class="lunch__item lunch__item-second">Курица запеченая <br>с гарниром из картофеля</div>
                          <div class="lunch__item lunch__item-salad">Салат «Мужские грезы»</div>
                          <div class="lunch__item lunch__item-dessert">Десерт «Торт Три Шоколада»</div>
                        </div>
                        <div class="lunch__control">
                          <div class="lunch__control-text">Выбрать количество порций</div>
                          <div class="lunch__control-cont">
                            <div class="lunch__control-minus">
                              <button class="round-button minus"></button>
                            </div>
                            <div class="lunch__control-count">0</div>
                            <div class="lunch__control-plus">
                              <button class="round-button plus"></button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="weekly__item">
                    <div class="lunch">
                      <div style="background-image:url('static/img/design/item_02.jpg')" class="lunch__image"></div>
                      <div class="lunch__desc">
                        <div class="lunch__top">
                          <div data-desc="1000 гр / 1300 ккал" class="lunch__title">Обед №2</div>
                          <div class="lunch__cost">370</div>
                        </div>
                        <div class="lunch__box">
                          <div class="lunch__item lunch__item-hot">Борщ домашний</div>
                          <div class="lunch__item lunch__item-second">Курица запеченая <br>с гарниром из картофеля</div>
                          <div class="lunch__item lunch__item-salad">Салат «Мужские грезы»</div>
                          <div class="lunch__item lunch__item-dessert">Десерт «Торт Три Шоколада»</div>
                        </div>
                        <div class="lunch__control">
                          <div class="lunch__control-text">Выбрать количество порций</div>
                          <div class="lunch__control-cont">
                            <div class="lunch__control-minus">
                              <button class="round-button minus"></button>
                            </div>
                            <div class="lunch__control-count">0</div>
                            <div class="lunch__control-plus">
                              <button class="round-button plus"></button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div data-day="СРЕДА" class="weekly__line">
                <div class="weekly__box">
                  <div class="weekly__item">
                    <div class="lunch">
                      <div style="background-image:url('static/img/design/item_01.jpg')" class="lunch__image"></div>
                      <div class="lunch__desc">
                        <div class="lunch__top">
                          <div data-desc="1000 гр / 1300 ккал" class="lunch__title">Обед №3</div>
                          <div class="lunch__cost">1340</div>
                        </div>
                        <div class="lunch__box">
                          <div class="lunch__item lunch__item-hot">Борщ домашний</div>
                          <div class="lunch__item lunch__item-second">Курица запеченая <br>с гарниром из картофеля</div>
                          <div class="lunch__item lunch__item-salad">Салат «Мужские грезы»</div>
                          <div class="lunch__item lunch__item-dessert">Десерт «Торт Три Шоколада»</div>
                        </div>
                        <div class="lunch__control">
                          <div class="lunch__control-text">Выбрать количество порций</div>
                          <div class="lunch__control-cont">
                            <div class="lunch__control-minus">
                              <button class="round-button minus"></button>
                            </div>
                            <div class="lunch__control-count">0</div>
                            <div class="lunch__control-plus">
                              <button class="round-button plus"></button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="weekly__item">
                    <div class="lunch">
                      <div style="background-image:url('static/img/design/item_04.jpg')" class="lunch__image"></div>
                      <div class="lunch__desc">
                        <div class="lunch__top">
                          <div data-desc="1000 гр / 1300 ккал" class="lunch__title">Обед №4</div>
                          <div class="lunch__cost">451</div>
                        </div>
                        <div class="lunch__box">
                          <div class="lunch__item lunch__item-hot">Борщ домашний</div>
                          <div class="lunch__item lunch__item-second">Курица запеченая <br>с гарниром из картофеля</div>
                          <div class="lunch__item lunch__item-salad">Салат «Мужские грезы»</div>
                          <div class="lunch__item lunch__item-dessert">Десерт «Торт Три Шоколада»</div>
                        </div>
                        <div class="lunch__control">
                          <div class="lunch__control-text">Выбрать количество порций</div>
                          <div class="lunch__control-cont">
                            <div class="lunch__control-minus">
                              <button class="round-button minus"></button>
                            </div>
                            <div class="lunch__control-count">0</div>
                            <div class="lunch__control-plus">
                              <button class="round-button plus"></button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div data-day="ЧЕТВЕРГ" class="weekly__line">
                <div class="weekly__box">
                  <div class="weekly__item">
                    <div class="lunch">
                      <div style="background-image:url('static/img/design/item_03.jpg')" class="lunch__image"></div>
                      <div class="lunch__desc">
                        <div class="lunch__top">
                          <div data-desc="850 гр / 1300 ккал" class="lunch__title">Обед №1</div>
                          <div class="lunch__cost">340</div>
                        </div>
                        <div class="lunch__box">
                          <div class="lunch__item lunch__item-hot">Борщ домашний</div>
                          <div class="lunch__item lunch__item-second">Курица запеченая <br>с гарниром из картофеля</div>
                          <div class="lunch__item lunch__item-salad">Салат «Мужские грезы»</div>
                          <div class="lunch__item lunch__item-dessert">Десерт «Торт Три Шоколада»</div>
                        </div>
                        <div class="lunch__control">
                          <div class="lunch__control-text">Выбрать количество порций</div>
                          <div class="lunch__control-cont">
                            <div class="lunch__control-minus">
                              <button class="round-button minus"></button>
                            </div>
                            <div class="lunch__control-count">0</div>
                            <div class="lunch__control-plus">
                              <button class="round-button plus"></button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="weekly__item">
                    <div class="lunch">
                      <div style="background-image:url('static/img/design/item_02.jpg')" class="lunch__image"></div>
                      <div class="lunch__desc">
                        <div class="lunch__top">
                          <div data-desc="1000 гр / 1300 ккал" class="lunch__title">Обед №2</div>
                          <div class="lunch__cost">370</div>
                        </div>
                        <div class="lunch__box">
                          <div class="lunch__item lunch__item-hot">Борщ домашний</div>
                          <div class="lunch__item lunch__item-second">Курица запеченая <br>с гарниром из картофеля</div>
                          <div class="lunch__item lunch__item-salad">Салат «Мужские грезы»</div>
                          <div class="lunch__item lunch__item-dessert">Десерт «Торт Три Шоколада»</div>
                        </div>
                        <div class="lunch__control">
                          <div class="lunch__control-text">Выбрать количество порций</div>
                          <div class="lunch__control-cont">
                            <div class="lunch__control-minus">
                              <button class="round-button minus"></button>
                            </div>
                            <div class="lunch__control-count">0</div>
                            <div class="lunch__control-plus">
                              <button class="round-button plus"></button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="weekly__item">
                    <div class="lunch">
                      <div style="background-image:url('static/img/design/item_01.jpg')" class="lunch__image"></div>
                      <div class="lunch__desc">
                        <div class="lunch__top">
                          <div data-desc="1000 гр / 1300 ккал" class="lunch__title">Обед №3</div>
                          <div class="lunch__cost">1340</div>
                        </div>
                        <div class="lunch__box">
                          <div class="lunch__item lunch__item-hot">Борщ домашний</div>
                          <div class="lunch__item lunch__item-second">Курица запеченая <br>с гарниром из картофеля</div>
                          <div class="lunch__item lunch__item-salad">Салат «Мужские грезы»</div>
                          <div class="lunch__item lunch__item-dessert">Десерт «Торт Три Шоколада»</div>
                        </div>
                        <div class="lunch__control">
                          <div class="lunch__control-text">Выбрать количество порций</div>
                          <div class="lunch__control-cont">
                            <div class="lunch__control-minus">
                              <button class="round-button minus"></button>
                            </div>
                            <div class="lunch__control-count">0</div>
                            <div class="lunch__control-plus">
                              <button class="round-button plus"></button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div data-day="Пятница" class="weekly__line">
                <div class="weekly__box">
                  <div class="weekly__item">
                    <div class="lunch">
                      <div style="background-image:url('static/img/design/item_04.jpg')" class="lunch__image"></div>
                      <div class="lunch__desc">
                        <div class="lunch__top">
                          <div data-desc="1000 гр / 1300 ккал" class="lunch__title">Обед №4</div>
                          <div class="lunch__cost">451</div>
                        </div>
                        <div class="lunch__box">
                          <div class="lunch__item lunch__item-hot">Борщ домашний</div>
                          <div class="lunch__item lunch__item-second">Курица запеченая <br>с гарниром из картофеля</div>
                          <div class="lunch__item lunch__item-salad">Салат «Мужские грезы»</div>
                          <div class="lunch__item lunch__item-dessert">Десерт «Торт Три Шоколада»</div>
                        </div>
                        <div class="lunch__control">
                          <div class="lunch__control-text">Выбрать количество порций</div>
                          <div class="lunch__control-cont">
                            <div class="lunch__control-minus">
                              <button class="round-button minus"></button>
                            </div>
                            <div class="lunch__control-count">0</div>
                            <div class="lunch__control-plus">
                              <button class="round-button plus"></button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="page-buffer"></div>
      </div>
      <div class="footer">
        <div class="layout__inner">
          <div class="footer__copyright">all rights reserved copyright © 2017</div>
        </div>
      </div>
    </div>
  </body>
  <script src="static/js/jquery.js"></script>
  <script src="static/js/slick.min.js"></script>
  <script src="static/js/ticon.js"></script>
  <script src="static/js/jquery.maskedinput.js"></script>
  <script src="static/js/main.js"></script>
</html>