<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html lang="ru" class="no-js">
  <head>
    <meta charset="utf-8"/>
    <title></title>
    <!--meta(name="viewport" content="width=1240")-->
    <meta name="viewport" content="width=device-width, initial-scale=1,user-scalable=0"/>
    <meta content="IE=edge" http-equiv="X-UA-Compatible"/>
    <link rel="shortcut icon" type="image/ico" href="static/img/favicon.ico"/>
    <link rel="icon" type="image/png" href="static/img/favicon.png"/>
    <link rel="stylesheet" href="static/css/style.css"/>
  </head>
  <body>
    <div class="layout">
      <div class="layout__page">
        <div class="header">
          <div class="layout__inner">
            <div class="header__cont">
              <div class="header__logo"><a href="/" class="logo"></a>
              </div>
              <div class="header__date">
                <div data-month="февраля" data-day="воскресенье" class="header__date-item">16</div>
              </div><a href="/menu.html" class="header__title">МЕНЮ НА НЕДЕЛЮ</a>
              <div class="header__cart"><a class="cart"><span class="cart__text">В КОРЗИНЕ:</span><span class="cart__count">100</span><span class="cart__cost">1000</span></a>
              </div>
              <div class="header__login"><a href="/persona.html" class="button button__akk">Личный кабинет</a></div>
            </div>
          </div>
        </div>
        <div class="persona">
          <div class="layout__inner">
            <div class="persona__inner">
              <div class="persona__title">Личный кабинет</div>
              <div class="persona__cont">
                <div class="persona__left">
                  <div class="persona__history">
                    <div class="history">
                      <div class="history__title">ИСТОРИЯ ЗАКАЗОВ</div>
                      <div class="history__cont">
                        <div class="history__table">
                          <table class="paginated">
                            <thead>
                              <tr>
                                <th scope="col" style="width:30%">Дата</th>
                                <th scope="col" style="width:40%">Стоимость, р.</th>
                                <th scope="col" style="width:30%">Статус</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr data-href="/detail.html" class="clickable-row">
                                <td class="history__date">15.07.2017</td>
                                <td>1200</td>
                                <td data-status="work" class="history__status"></td>
                              </tr>
                              <tr>
                                <td class="history__date">15.07.2017</td>
                                <td>1200</td>
                                <td data-status="end" class="history__status"></td>
                              </tr>
                              <tr>
                                <td class="history__date">15.07.2017</td>
                                <td>1200</td>
                                <td data-status="end" class="history__status"></td>
                              </tr>
                              <tr>
                                <td class="history__date">15.07.2017</td>
                                <td>1200</td>
                                <td data-status="end" class="history__status"></td>
                              </tr>
                              <tr>
                                <td class="history__date">15.07.2017</td>
                                <td>1200</td>
                                <td data-status="end" class="history__status"></td>
                              </tr>
                              <tr>
                                <td class="history__date">15.07.2017</td>
                                <td>1200</td>
                                <td data-status="end" class="history__status"></td>
                              </tr>
                              <tr>
                                <td class="history__date">15.07.2017</td>
                                <td>1200</td>
                                <td data-status="end" class="history__status"></td>
                              </tr>
                              <tr>
                                <td class="history__date">15.07.2017</td>
                                <td>1200</td>
                                <td data-status="end" class="history__status"></td>
                              </tr>
                              <tr>
                                <td class="history__date">15.07.2017</td>
                                <td>1200</td>
                                <td data-status="end" class="history__status"></td>
                              </tr>
                              <tr>
                                <td class="history__date">15.07.2017</td>
                                <td>1200</td>
                                <td data-status="end" class="history__status"></td>
                              </tr>
                              <tr>
                                <td class="history__date">15.07.2017</td>
                                <td>1200</td>
                                <td data-status="end" class="history__status"></td>
                              </tr>
                              <tr>
                                <td class="history__date">15.07.2017</td>
                                <td>1200</td>
                                <td data-status="work" class="history__status"></td>
                              </tr>
                              <tr>
                                <td class="history__date">15.07.2017</td>
                                <td>1200</td>
                                <td data-status="end" class="history__status"></td>
                              </tr>
                              <tr>
                                <td class="history__date">15.07.2017</td>
                                <td>1200</td>
                                <td data-status="end" class="history__status"></td>
                              </tr>
                              <tr>
                                <td class="history__date">15.07.2017</td>
                                <td>1200</td>
                                <td data-status="end" class="history__status"></td>
                              </tr>
                              <tr>
                                <td class="history__date">15.07.2017</td>
                                <td>1200</td>
                                <td data-status="end" class="history__status"></td>
                              </tr>
                              <tr>
                                <td class="history__date">15.07.2017</td>
                                <td>1200</td>
                                <td data-status="end" class="history__status"></td>
                              </tr>
                              <tr>
                                <td class="history__date">15.07.2017</td>
                                <td>1200</td>
                                <td data-status="end" class="history__status"></td>
                              </tr>
                              <tr>
                                <td class="history__date">15.07.2017</td>
                                <td>1200</td>
                                <td data-status="end" class="history__status"></td>
                              </tr>
                              <tr>
                                <td class="history__date">15.07.2017</td>
                                <td>1200</td>
                                <td data-status="end" class="history__status"></td>
                              </tr>
                              <tr>
                                <td class="history__date">15.07.2017</td>
                                <td>1200</td>
                                <td data-status="end" class="history__status"></td>
                              </tr>
                              <tr>
                                <td class="history__date">15.07.2017</td>
                                <td>1200</td>
                                <td data-status="end" class="history__status"></td>
                              </tr>
                              <tr>
                                <td class="history__date">15.07.2017</td>
                                <td>1200</td>
                                <td data-status="work" class="history__status"></td>
                              </tr>
                              <tr>
                                <td class="history__date">15.07.2017</td>
                                <td>1200</td>
                                <td data-status="end" class="history__status"></td>
                              </tr>
                              <tr>
                                <td class="history__date">15.07.2017</td>
                                <td>1200</td>
                                <td data-status="end" class="history__status"></td>
                              </tr>
                              <tr>
                                <td class="history__date">15.07.2017</td>
                                <td>1200</td>
                                <td data-status="end" class="history__status"></td>
                              </tr>
                              <tr>
                                <td class="history__date">15.07.2017</td>
                                <td>1200</td>
                                <td data-status="end" class="history__status"></td>
                              </tr>
                              <tr>
                                <td class="history__date">15.07.2017</td>
                                <td>1200</td>
                                <td data-status="end" class="history__status"></td>
                              </tr>
                              <tr>
                                <td class="history__date">15.07.2017</td>
                                <td>1200</td>
                                <td data-status="end" class="history__status"></td>
                              </tr>
                              <tr>
                                <td class="history__date">15.07.2017</td>
                                <td>1200</td>
                                <td data-status="end" class="history__status"></td>
                              </tr>
                              <tr>
                                <td class="history__date">15.07.2017</td>
                                <td>1200</td>
                                <td data-status="end" class="history__status"></td>
                              </tr>
                              <tr>
                                <td class="history__date">15.07.2017</td>
                                <td>1200</td>
                                <td data-status="end" class="history__status"></td>
                              </tr>
                              <tr>
                                <td class="history__date">15.07.2017</td>
                                <td>1200</td>
                                <td data-status="end" class="history__status"></td>
                              </tr>
                              <tr>
                                <td class="history__date">15.07.2017</td>
                                <td>1200</td>
                                <td data-status="work" class="history__status"></td>
                              </tr>
                              <tr>
                                <td class="history__date">15.07.2017</td>
                                <td>1200</td>
                                <td data-status="end" class="history__status"></td>
                              </tr>
                              <tr>
                                <td class="history__date">15.07.2017</td>
                                <td>1200</td>
                                <td data-status="end" class="history__status"></td>
                              </tr>
                              <tr>
                                <td class="history__date">15.07.2017</td>
                                <td>1200</td>
                                <td data-status="end" class="history__status"></td>
                              </tr>
                              <tr>
                                <td class="history__date">15.07.2017</td>
                                <td>1200</td>
                                <td data-status="end" class="history__status"></td>
                              </tr>
                              <tr>
                                <td class="history__date">15.07.2017</td>
                                <td>1200</td>
                                <td data-status="end" class="history__status"></td>
                              </tr>
                              <tr>
                                <td class="history__date">15.07.2017</td>
                                <td>1200</td>
                                <td data-status="end" class="history__status"></td>
                              </tr>
                              <tr>
                                <td class="history__date">15.07.2017</td>
                                <td>1200</td>
                                <td data-status="end" class="history__status"></td>
                              </tr>
                              <tr>
                                <td class="history__date">15.07.2017</td>
                                <td>1200</td>
                                <td data-status="end" class="history__status"></td>
                              </tr>
                              <tr>
                                <td class="history__date">15.07.2017</td>
                                <td>1200</td>
                                <td data-status="end" class="history__status"></td>
                              </tr>
                              <tr>
                                <td class="history__date">15.07.2017</td>
                                <td>1200</td>
                                <td data-status="end" class="history__status"></td>
                              </tr>
                              <tr>
                                <td class="history__date">15.07.2017</td>
                                <td>1200</td>
                                <td data-status="work" class="history__status"></td>
                              </tr>
                              <tr>
                                <td class="history__date">15.07.2017</td>
                                <td>1200</td>
                                <td data-status="end" class="history__status"></td>
                              </tr>
                              <tr>
                                <td class="history__date">15.07.2017</td>
                                <td>1200</td>
                                <td data-status="end" class="history__status"></td>
                              </tr>
                              <tr>
                                <td class="history__date">15.07.2017</td>
                                <td>1200</td>
                                <td data-status="end" class="history__status"></td>
                              </tr>
                              <tr>
                                <td class="history__date">15.07.2017</td>
                                <td>1200</td>
                                <td data-status="end" class="history__status"></td>
                              </tr>
                              <tr>
                                <td class="history__date">15.07.2017</td>
                                <td>1200</td>
                                <td data-status="end" class="history__status"></td>
                              </tr>
                              <tr>
                                <td class="history__date">15.07.2017</td>
                                <td>1200</td>
                                <td data-status="end" class="history__status"></td>
                              </tr>
                              <tr>
                                <td class="history__date">15.07.2017</td>
                                <td>1200</td>
                                <td data-status="end" class="history__status"></td>
                              </tr>
                              <tr>
                                <td class="history__date">15.07.2017</td>
                                <td>1200</td>
                                <td data-status="end" class="history__status"></td>
                              </tr>
                              <tr>
                                <td class="history__date">15.07.2017</td>
                                <td>1200</td>
                                <td data-status="end" class="history__status"></td>
                              </tr>
                              <tr>
                                <td class="history__date">15.07.2017</td>
                                <td>1200</td>
                                <td data-status="end" class="history__status"></td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="persona__options">
                    <div class="options">
                      <div class="options__title">НАСТРОЙКИ</div>
                      <form class="options__form">
                        <div class="options__line">
                          <div data-input="Текущий пароль" class="input__cont">
                            <input type="password" class="input__this"/>
                          </div>
                        </div>
                        <div class="options__line">
                          <div data-input="Новый пароль" class="input__cont">
                            <input type="password" class="input__this"/>
                          </div>
                        </div>
                        <div class="options__line">
                          <div data-input="Повторить новый пароль" class="input__cont">
                            <input type="password" class="input__this"/>
                          </div>
                        </div>
                        <div class="options__bottom">
                          <button class="button">СОХРАНИТЬ</button>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
                <div class="persona__right">
                  <div class="statham">
                    <div class="statham__item"><img src="static/img/design/statham_01.png"/></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="page-buffer"></div>
      </div>
      <div class="footer">
        <div class="layout__inner">
          <div class="footer__copyright">all rights reserved copyright © 2017</div>
        </div>
      </div>
    </div>
  </body>
  <script src="static/js/jquery.js"></script>
  <script src="static/js/slick.min.js"></script>
  <script src="static/js/ticon.js"></script>
  <script src="static/js/jquery.maskedinput.js"></script>
  <script src="static/js/main.js"></script>
</html>