<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html lang="ru" class="no-js">
  <head>
    <meta charset="utf-8"/>
    <title></title>
    <!--meta(name="viewport" content="width=1240")-->
    <meta name="viewport" content="width=device-width, initial-scale=1,user-scalable=0"/>
    <meta content="IE=edge" http-equiv="X-UA-Compatible"/>
    <link rel="shortcut icon" type="image/ico" href="static/img/favicon.ico"/>
    <link rel="icon" type="image/png" href="static/img/favicon.png"/>
    <link rel="stylesheet" href="static/css/style.css"/>
  </head>
  <body class="body-white">
    <div class="layout">
      <div class="header">
        <div class="layout__inner">
          <div class="header__cont">
            <div class="header__logo"><a href="/" class="logo"></a>
            </div>
            <div class="header__date">
              <div data-month="февраля" data-day="воскресенье" class="header__date-item">16</div>
            </div>
            <div class="header__title">МЕНЮ НА НЕДЕЛЮ</div>
            <div class="header__cart"><a class="cart"><span class="cart__text">В КОРЗИНЕ:</span><span class="cart__count">100</span><span class="cart__cost">1000</span></a>
            </div>
            <div class="header__login">
              <button class="button button-login">Войти</button>
            </div>
          </div>
        </div>
      </div>
      <div class="hero">
        <div style="background-image:url(&quot;static/img/design/main.png&quot;)" class="hero__image"></div>
        <div class="layout__inner">
          <div class="hero__cont">
            <div class="hero__text">доставка <span>обедов</span></div>
          </div>
          <div class="hero__bottom">
            <div class="hero__bottom-text">СМОТРИ МЕНЮ НА СЕГОДНЯ<span></span></div>
          </div>
        </div>
      </div>
      <div class="menu">
        <div class="layout__inner">
          <div class="menu__cont">
            <div class="lunch">
              <div style="background-image:url('static/img/design/item_03.jpg')" class="lunch__image"></div>
              <div class="lunch__desc">
                <div class="lunch__top">
                  <div data-desc="850 гр / 1300 ккал" class="lunch__title">Обед №1</div>
                  <div class="lunch__cost">340</div>
                </div>
                <div class="lunch__box">
                  <div class="lunch__item lunch__item-hot">Борщ домашний</div>
                  <div class="lunch__item lunch__item-second">Курица запеченая <br>с гарниром из картофеля</div>
                  <div class="lunch__item lunch__item-salad">Салат «Мужские грезы»</div>
                  <div class="lunch__item lunch__item-dessert">Десерт «Торт Три Шоколада»</div>
                </div>
                <div class="lunch__control">
                  <div class="lunch__control-text">Выбрать количество порций</div>
                  <div class="lunch__control-cont">
                    <div class="lunch__control-minus">
                      <button class="round-button minus"></button>
                    </div>
                    <div class="lunch__control-count">0</div>
                    <div class="lunch__control-plus">
                      <button class="round-button plus"></button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="lunch">
              <div style="background-image:url('static/img/design/item_02.jpg')" class="lunch__image"></div>
              <div class="lunch__desc">
                <div class="lunch__top">
                  <div data-desc="1000 гр / 1300 ккал" class="lunch__title">Обед №2</div>
                  <div class="lunch__cost">370</div>
                </div>
                <div class="lunch__box">
                  <div class="lunch__item lunch__item-hot">Борщ домашний</div>
                  <div class="lunch__item lunch__item-second">Курица запеченая <br>с гарниром из картофеля</div>
                  <div class="lunch__item lunch__item-salad">Салат «Мужские грезы»</div>
                  <div class="lunch__item lunch__item-dessert">Десерт «Торт Три Шоколада»</div>
                </div>
                <div class="lunch__control">
                  <div class="lunch__control-text">Выбрать количество порций</div>
                  <div class="lunch__control-cont">
                    <div class="lunch__control-minus">
                      <button class="round-button minus"></button>
                    </div>
                    <div class="lunch__control-count">0</div>
                    <div class="lunch__control-plus">
                      <button class="round-button plus"></button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="lunch">
              <div style="background-image:url('static/img/design/item_01.jpg')" class="lunch__image"></div>
              <div class="lunch__desc">
                <div class="lunch__top">
                  <div data-desc="1000 гр / 1300 ккал" class="lunch__title">Обед №3</div>
                  <div class="lunch__cost">1340</div>
                </div>
                <div class="lunch__box">
                  <div class="lunch__item lunch__item-hot">Борщ домашний</div>
                  <div class="lunch__item lunch__item-second">Курица запеченая <br>с гарниром из картофеля</div>
                  <div class="lunch__item lunch__item-salad">Салат «Мужские грезы»</div>
                  <div class="lunch__item lunch__item-dessert">Десерт «Торт Три Шоколада»</div>
                </div>
                <div class="lunch__control">
                  <div class="lunch__control-text">Выбрать количество порций</div>
                  <div class="lunch__control-cont">
                    <div class="lunch__control-minus">
                      <button class="round-button minus"></button>
                    </div>
                    <div class="lunch__control-count">0</div>
                    <div class="lunch__control-plus">
                      <button class="round-button plus"></button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="lunch">
              <div style="background-image:url('static/img/design/item_04.jpg')" class="lunch__image"></div>
              <div class="lunch__desc">
                <div class="lunch__top">
                  <div data-desc="1000 гр / 1300 ккал" class="lunch__title">Обед №4</div>
                  <div class="lunch__cost">451</div>
                </div>
                <div class="lunch__box">
                  <div class="lunch__item lunch__item-hot">Борщ домашний</div>
                  <div class="lunch__item lunch__item-second">Курица запеченая <br>с гарниром из картофеля</div>
                  <div class="lunch__item lunch__item-salad">Салат «Мужские грезы»</div>
                  <div class="lunch__item lunch__item-dessert">Десерт «Торт Три Шоколада»</div>
                </div>
                <div class="lunch__control">
                  <div class="lunch__control-text">Выбрать количество порций</div>
                  <div class="lunch__control-cont">
                    <div class="lunch__control-minus">
                      <button class="round-button minus"></button>
                    </div>
                    <div class="lunch__control-count">0</div>
                    <div class="lunch__control-plus">
                      <button class="round-button plus"></button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="order">
        <div class="form">
          <div class="form__title">ОФОРМИТЬ ЗАКАЗ</div>
          <div class="form__tab">
            <div data-tab="tab_1" class="form__tab-item active">ВХОД</div>
            <div data-tab="tab_2" class="form__tab-item">РЕГИСТРАЦИЯ</div>
          </div>
          <div data-tab="tab_1" class="form__item active">
            <form class="form__this">
              <div class="form__line">
                <div data-input="Номер телефона" class="input__cont">
                  <input id="phone" class="input__this input__this-phone"/>
                </div>
              </div>
              <div class="form__line">
                <div data-input="Пароль" class="input__cont">
                  <input type="password" class="input__this"/>
                </div>
              </div>
              <div class="form__bottom">
                <button class="button">ПРОДОЛЖИТЬ</button>
              </div>
            </form>
          </div>
          <div data-tab="tab_2" class="form__item">
            <form class="form__this">
              <div class="form__line">
                <div data-input="Номер телефона" class="input__cont">
                  <input id="phone" class="input__this input__this-phone"/>
                </div>
              </div>
              <div class="form__line form__line-sms">
                <button class="button__sms">Выслать SMS-код</button>
                <div class="form__sms">
                  <div class="form__sms-text">SMS-КОД:</div>
                  <input class="form__sms-input"/>
                </div>
              </div>
              <div class="form__line">
                <div data-input="Пароль" class="input__cont">
                  <input type="password" class="input__this"/>
                </div>
              </div>
              <div class="form__bottom">
                <button class="button">РЕГИСТРАЦИЯ</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </body>
  <script src="static/js/jquery.js"></script>
  <script src="static/js/slick.min.js"></script>
  <script src="static/js/ticon.js"></script>
  <script src="static/js/jquery.maskedinput.js"></script>
  <script src="static/js/main.js"></script>
</html>