  <div class="menu">
    <div class="layout__inner">
      <div class="menu__cont">
        <div class="lunch">
          <div style="background-image:url('static/img/design/item_03.jpg')" class="lunch__image"></div>
          <div class="lunch__desc">
            <div class="lunch__top">
              <div data-desc="850 гр / 1300 ккал" class="lunch__title">Обед №1</div>
              <div class="lunch__cost">340</div>
            </div>
            <div class="lunch__box">
              <div class="lunch__item lunch__item-hot">Борщ домашний</div>
              <div class="lunch__item lunch__item-second">Курица запеченая <br>с гарниром из картофеля</div>
              <div class="lunch__item lunch__item-salad">Салат «Мужские грезы»</div>
              <div class="lunch__item lunch__item-dessert">Десерт «Торт Три Шоколада»</div>
            </div>
            <div class="lunch__control">
              <div class="lunch__control-text">Выбрать количество порций</div>
              <div class="lunch__control-cont">
                <div class="lunch__control-minus">
                  <button class="round-button minus"></button>
                </div>
                <div class="lunch__control-count">0</div>
                <div class="lunch__control-plus">
                  <button class="round-button plus"></button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="lunch">
          <div style="background-image:url('static/img/design/item_02.jpg')" class="lunch__image"></div>
          <div class="lunch__desc">
            <div class="lunch__top">
              <div data-desc="1000 гр / 1300 ккал" class="lunch__title">Обед №2</div>
              <div class="lunch__cost">370</div>
            </div>
            <div class="lunch__box">
              <div class="lunch__item lunch__item-hot">Борщ домашний</div>
              <div class="lunch__item lunch__item-second">Курица запеченая <br>с гарниром из картофеля</div>
              <div class="lunch__item lunch__item-salad">Салат «Мужские грезы»</div>
              <div class="lunch__item lunch__item-dessert">Десерт «Торт Три Шоколада»</div>
            </div>
            <div class="lunch__control">
              <div class="lunch__control-text">Выбрать количество порций</div>
              <div class="lunch__control-cont">
                <div class="lunch__control-minus">
                  <button class="round-button minus"></button>
                </div>
                <div class="lunch__control-count">0</div>
                <div class="lunch__control-plus">
                  <button class="round-button plus"></button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="lunch">
          <div style="background-image:url('static/img/design/item_01.jpg')" class="lunch__image"></div>
          <div class="lunch__desc">
            <div class="lunch__top">
              <div data-desc="1000 гр / 1300 ккал" class="lunch__title">Обед №3</div>
              <div class="lunch__cost">1340</div>
            </div>
            <div class="lunch__box">
              <div class="lunch__item lunch__item-hot">Борщ домашний</div>
              <div class="lunch__item lunch__item-second">Курица запеченая <br>с гарниром из картофеля</div>
              <div class="lunch__item lunch__item-salad">Салат «Мужские грезы»</div>
              <div class="lunch__item lunch__item-dessert">Десерт «Торт Три Шоколада»</div>
            </div>
            <div class="lunch__control">
              <div class="lunch__control-text">Выбрать количество порций</div>
              <div class="lunch__control-cont">
                <div class="lunch__control-minus">
                  <button class="round-button minus"></button>
                </div>
                <div class="lunch__control-count">0</div>
                <div class="lunch__control-plus">
                  <button class="round-button plus"></button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="lunch">
          <div style="background-image:url('static/img/design/item_04.jpg')" class="lunch__image"></div>
          <div class="lunch__desc">
            <div class="lunch__top">
              <div data-desc="1000 гр / 1300 ккал" class="lunch__title">Обед №4</div>
              <div class="lunch__cost">451</div>
            </div>
            <div class="lunch__box">
              <div class="lunch__item lunch__item-hot">Борщ домашний</div>
              <div class="lunch__item lunch__item-second">Курица запеченая <br>с гарниром из картофеля</div>
              <div class="lunch__item lunch__item-salad">Салат «Мужские грезы»</div>
              <div class="lunch__item lunch__item-dessert">Десерт «Торт Три Шоколада»</div>
            </div>
            <div class="lunch__control">
              <div class="lunch__control-text">Выбрать количество порций</div>
              <div class="lunch__control-cont">
                <div class="lunch__control-minus">
                  <button class="round-button minus"></button>
                </div>
                <div class="lunch__control-count">0</div>
                <div class="lunch__control-plus">
                  <button class="round-button plus"></button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>