{% extends 'base.html' %}
{% load static %}

{% block title %}
    Главная
{% endblock %}

{% block content %}
    <div class="hero">
        <div style="background-image:url({% static 'img/design/main.png' %})" class="hero__image"></div>
        <div class="layout__inner">
            <div class="hero__cont">
                <div class="hero__text">доставка <span>обедов</span></div>
            </div>
            <div class="hero__bottom">
                <a href="#today_menu" class="hero__bottom-text">СМОТРИ МЕНЮ НА СЕГОДНЯ<span></span></a>
            </div>
        </div>
    </div>
    <div class="menu" id="today_menu">
        <div class="layout__inner">
            <div class="menu__cont">
                {% for dinner in dinners.all %}
                    {% include 'main/inc/menu_item.html' with basket_dict=basket_dict %}
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="order">
        <div class="form" id="form">
            {% if messages %}
                <div class="form-messages">
                    <div><b>Сообщения:</b></div>
                    <ul>
                        {% for message in messages %}
                            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
            {% if not user.is_authenticated %}
                <div class="form__tab">
                    <div data-tab="tab_1" class="form__tab-item active">ВХОД</div>
                    <div data-tab="tab_2" class="form__tab-item">РЕГИСТРАЦИЯ</div>
                </div>
                <div data-tab="tab_1" class="form__item active">
                    <form class="form__this js-login-form" action="{% url 'login' %}" method="post">
                        {% csrf_token %}
                        <div class="form__line">
                            <div data-input="Номер телефона" class="input__cont input__phone">
                                <input name="phone" class="input__this input__this-phone"/>
                            </div>
                        </div>
                        <div class="form__line">
                            <div data-input="Пароль" class="input__cont">
                                <input name="password" type="password" class="input__this"/>
                            </div>
                        </div>
                        <div class="form__bottom">
                            <button class="button">ПРОДОЛЖИТЬ</button>
                        </div>
                    </form>
                </div>
                <div data-tab="tab_2" class="form__item">
                    <form class="form__this js-reg-form" action="{% url 'registration' %}" method="post">
                        {% csrf_token %}
                        <div class="form__line">
                            <div data-input="Номер телефона" class="input__cont input__phone">
                                <input name="phone" class="input__this input__this-phone"/>
                            </div>
                        </div>
                        <div class="form__line form__line-sms">
                            <button type="submit" name="action" value="send_sms" class="button__sms">Выслать SMS-код</button>
                            <div class="form__sms">
                                <div class="form__sms-text">SMS-КОД:</div>
                                <div class="form__sms-right">
                                    <input name="sms_code" class="form__sms-input"/>
                                    <div class="form__sms-error" style="display: none">Неверный или пустой код</div>
                                </div>
                            </div>
                        </div>
                        <div class="form__line">
                            <div data-input="Пароль" class="input__cont">
                                <input name="password" type="password" class="input__this"/>
                            </div>
                        </div>
                        <div class="form__bottom">
                            <button type="submit" class="button">РЕГИСТРАЦИЯ</button>
                        </div>
                    </form>
                </div>
            {% else %}
                <div class="form__title">ОФОРМИТЬ ЗАКАЗ</div>
                <div class="order_address" {% if basket and basket.address %}style="display: none"{% endif %}>
                    <div class="form__desc">АДРЕС ДОСТАВКИ</div>
                    <form action="{% url 'purchasing' %}" method="post" class="form__this">
                        {% csrf_token %}
                        <div class="form__line">
                            <div data-input="Ваш адрес " class="input__cont">
                                <input id="id_address" name="address" class="input__this" required/>
                            </div>
                        </div>
                        <div class="form__more">Если все верно:</div>
                        <div class="form__bottom">
                            <button class="button" type="submit">ПРОДОЛЖИТЬ</button>
                        </div>
                    </form>
                </div>
                <div class="order_time" {% if not basket or not basket.address %}style="display: none"{% endif %}>
                    <div class="form__desc">УКАЗАТЬ ВРЕМЯ ДОСТАВКИ</div>
                    <form action="{% url 'purchasing' %}" method="post" class="form__this">
                        {% csrf_token %}
                        <div class="form__line form__line-time">
                            <div class="form__time">
                                <input id="id_hours" name="hours" placeholder="00" class="form__time-input" required/>
                            </div>
                            <div class="form__time">
                                <input id="id_minutes" name="minutes" placeholder="00" class="form__time-input" required/>
                            </div>
                        </div>
                        <div class="form__bottom">
                            <button class="button" type="submit">ПРОДОЛЖИТЬ</button>
                        </div>
                    </form>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}