{% extends 'base.html' %}
{% load static %}

{% block title %}
    Информация о заказе №{{ order.id }}
{% endblock %}

{% block content %}
    <div class="detail">
        <div class="detail__inner">
            <div class="detail__title">Детали заказа № {{ order.id }}</div>
            <div class="detail__desc">
                <div class="detail__date">{{ order.order_date|date:"d.m.Y" }}</div>
                <div class="detail__time">{{ order.order_date|date:"H:i" }}</div>
            </div>
            <div class="detail__order">
                {% for basket_item in basket_items %}
                    {% if basket_item.quantity %}
                        <div class="detail__item">
                            <div class="weekly__item">
                                {% include 'main/inc/menu_item.html' with dinner=basket_item.dinner basket_item=basket_item %}
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
            <!--div class="detail__order-info">
                <div class="detail__delivery">100</div>
                <div class="detail__itogo">1 117 440</div>
            </div-->
            <div class="detail__courier">Курьер уже в пути!<br>Ориентировочное время доставки <span
                    class='detail__courier-time'>{{ order.delivery_at|date:"H:i" }}</span></div>
            {% if order.route_id %}
                <div class="detail__map">
                    <script src="//api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>
                    <div id="map" style="height: 545px;"></div>
                    <script>
                        var placemark, coords;
                        var geo_lat = {{ order.address.geo_lat }};
                        var geo_lon = {{ order.address.geo_lon }};
                        ymaps.ready(function () {
                            var myMap = new ymaps.Map('map', {
                                center: [54.706419,55.997823],
                                zoom: 16,
                                controls: []
                            });
                            placemark = new ymaps.Placemark([54.706419,55.997823], {
                                balloonContent: 'Курьер'
                            });
                            myMap.geoObjects.add(placemark);
                            $(document).ready(function() {
                                var intervalID = setInterval( function() {
                                    $.getJSON('/current_point/{{ order.route_id }}/',function (data) {
                                        console.log(data);
                                        if (data.point) {
                                            if (data.point.lat === geo_lat && data.point.lon === geo_lon) clearInterval(intervalID);
                                            coords = [data.point.lat, data.point.lon];
                                            myMap.geoObjects.remove(placemark);
                                            placemark = new ymaps.Placemark(coords, {
                                                balloonContent: 'Курьер'
                                            });
                                            myMap.geoObjects.add(placemark);
                                            myMap.panTo(coords, {flying: 1,duration: 500});
                                        }
                                    });
                                } , 1000)
                            });
                        });
                    </script>
                </div>
            {% endif %}

        </div>
    </div>
{% endblock %}